extends layout.pug

block content
  h2 FAQ
  p
    strong Are private channels allowed?
    span &nbsp;
    span.
      Currently not supported ..
  p
    strong Are private channels allowed?
    span &nbsp;
    span.
      Currently not supported ..
