extends layout.pug

block content
  h2 Hello!
  p This is a simple service to broadcast your upcoming events in registrated Telegram Channels for events in your community.
  p You can create your own Channels and register them here. You will receive a link then you can share with others for broadcasting.
  p If you received a link from someone you can use this one to broadcast your events.
